.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    .modalLayout {
        position: relative;
        max-width: 80rem;
        width: 100%;
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 1000;
        max-height: 70rem;
        height: 100%;

        .closeBtn {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            transition: .2s;

            &:hover {
                opacity: .7;
            }
        }
    }
}

