@import "../../../../styles/mixin.scss";

.hero {
    background-color: #fafafa;

    .heroSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70rem;
        position: relative;
        user-select: none;

        @include custom-responsive('1358px') {
            justify-content: center;
            text-align: center;
        }

        @include responsive('mobile') {
            padding: 0 2rem;
            height: 100%;
            min-height: 70rem;
        }

        .col {

            &:last-child {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;

                .heroSectionImage {
                    position: relative;

                    @include custom-responsive('1358px') {
                        display: none;
                    }

                    &:first-child {
                        width: 44rem;
                        height: 60rem;
                        top: 10rem;
                        left: 5rem;
                    }

                    &:last-child {
                        width: 38rem;
                        left: 4rem;
                        top: 5rem;
                        height: 65rem;
                    }
                }
            }

            &:first-child {
                h1 {
                    max-width: 60rem;
                    width: 100%;
                    font-size: 5rem;
                    line-height: 1.4;
                    font-weight: bold;
                    color: #222;

                    @include responsive('mobile') {
                        font-size: 4rem;
                    }
                }

                .heroNav {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    padding: 2.5rem 0;

                    @include custom-responsive('1358px') {
                        justify-content: center;
                    }

                    li {
                        list-style: none;
                        padding: 1rem 0;
                        font-weight: 600;
                        text-transform: uppercase;

                        &.active {
                            border-bottom: 2px solid green;
                            color: green;
                        }

                        a {
                            text-decoration: none;
                            color: #111;
                        }
                    }
                }
            }

            .msg {
                position: relative;
                top: 2.5rem;

                @include responsive('mobile') {
                    display: none;
                }

                .dot {
                    background-color: #fff;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 2.5rem;
                    -webkit-box-shadow: 0px 0px 11px -2px rgba(54, 120, 67, 1);
                    -moz-box-shadow: 0px 0px 11px -2px rgba(54, 120, 67, 1);
                    box-shadow: 0px 0px 11px -2px rgba(54, 120, 67, 1);

                    &:nth-child(2) {
                        top: 3rem;
                        right: 2rem;
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    &:nth-child(3) {
                        top: 6rem;
                        right: 4rem;
                        width: 2rem;
                        height: 2rem;
                    }
                }

                .thought {
                    display: flex;
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 30px;
                    min-width: 40px;
                    max-width: 50rem;
                    z-index: 2;
                    min-height: 40px;
                    position: relative;
                    top: 7.5rem;
                    color: #305c2b;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    -webkit-box-shadow: 0px 0px 96px -12px rgba(68, 130, 77, 1);
                    -moz-box-shadow: 0px 0px 96px -12px rgba(68, 130, 77, 1);
                    box-shadow: 0px 0px 96px -12px rgba(68, 130, 77, 1);
                    font-style: italic;

                    &::before,
                    &::after {
                        content: "";
                        background-color: #fff;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        z-index: -1;

                    }

                    &::before {
                        width: 44px;
                        height: 44px;
                        top: -12px;
                        left: 28px;
                        box-shadow: -50px 30px 0 -12px #fff;
                    }

                    &::after {
                        bottom: -10px;
                        right: 26px;
                        width: 30px;
                        height: 30px;
                        box-shadow: 40px -34px 0 0 #fff,
                            -28px -6px 0 -2px #fff,
                            -24px 17px 0 -6px #fff,
                            -5px 25px 0 -10px #fff;

                    }
                }
            }
        }
    }

    .footer {
        background-color: #fff;
        -webkit-box-shadow: 0px -6px 5px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px -6px 5px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 0px -6px 5px -8px rgba(0, 0, 0, 0.75);
        width: 100%;
        user-select: none;

        @include responsive('mobile') {
            overflow-x: scroll;
            padding: 0 2rem;
            max-width: 100rem;
            width: 100%;
        }

        .stats {
            display: flex;
            width: 100%;
            padding: 2rem 0;
            font-size: 1.5rem;
            color: #111;
            font-weight: 200;
            align-items: center;
            justify-content: space-evenly;

            @include custom-responsive('700px') {
                width: 100rem;
            }
        }

        .serviceProvider,
        .customers {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        svg {
            color: #45a367;
            font-size: 2.5rem;
        }

        span {
            margin: 0 0.5rem;
            font-weight: bold;
            color: #111;
        }

        .rating {
            display: flex;
            align-items: center;

            svg {
                font-size: 2.5rem;
                color: #45a367;
            }
        }
    }
}