@import '../../../../styles/mixin.scss';

.messageLayout {
    width: 100%;
    max-width: 100rem;
    background-color: #fff;
    border-radius: 6px;

    @include custom-responsive('850px') {
        &.active {
            position: fixed;
            z-index: 9999;
            top: 0;
            height: 100dvh;
        }
    }
}