.modalLayout {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        border-bottom: 1px solid #ddd;

        .closeModal {
            position: absolute;
            right: 2rem;
            top: 2.2rem;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}