@import '../../../../styles/mixin.scss';

.providerDetails {
    max-width: 40rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin: 4.5rem 0;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    right: 0;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;

    @include custom-responsive('1024px') {
        margin: 2rem auto;
    }

    .details {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 2rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;

        img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }

        .userInfo {

            h4 {
                font-weight: 600;
            }

            span {
                font-weight: 400;
                font-size: 1.4rem;
                color: #888;
            }
        }
    }

    button {
        padding: 1.5rem 3rem;
        background-color: #fff;
        color: #000;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: .2s;
        border: 1px solid #ccc;

        &:hover {
            opacity: .7;
        }

        svg {
            font-size: 2rem;
        }


        &:last-child {
            border: 1px solid green;
            background-color: green;
            color: #fff;
        }
    }
}