.chatLayout {
    padding: 4rem 0 10rem 0;
    background-color: #F1F4F5;

    .layout {
        min-height: 70rem;
        height: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }
}