.messageInput {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;

    input {
        background-color: #F1F4F5;
        width: 100%;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid #eee;

        &:focus {
            outline-color: #ddd;
        }
    }

    button {
        padding: 1rem;
        background-color: green;
        border-radius: 4px;
        max-width: 10rem;
        width: 100%;
        color: #fff;
        cursor: pointer;
        transition: .2s;

        &:hover {
            opacity: .8;
        }
    }
}