.serviceProviderDetailsLayout {
    position: relative;
    margin: 3rem 0;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rightCol {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            top: 2.5rem;

            .share,
            .save {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 5px 8px;
                transition: .2s;
                cursor: pointer;
                border-radius: 7px;

                &:hover {
                    background-color: #f2f2f2;
                }
            }
        }

        .title {
            font-size: 3rem;
            font-weight: 600;
            padding: 1rem 0;
        }

        .rating {
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: #FFC001;

            span {
                font-size: 1.3rem;
                color: #444;
                position: relative;
                left: .5rem;
            }
        }
    }

    .body {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 4rem 0;

        .bodyLayout {
            max-width: 90rem;
            width: 100%;

            .navList {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                background-color: white;
                z-index: 100;
                display: flex;
                align-items: center;
                gap: 4rem;
                list-style: none;
                border-bottom: 1px solid #ddd;

                li a {
                    text-decoration: none;
                    color: #111;
                    display: flex;
                    align-items: center;
                    gap: 2px;

                    &.active {
                        border-bottom: 2px solid green;
                        padding: 1.3rem 0;
                    }

                    span {
                        color: #777;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .providerDetails {
            max-width: 40rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1.5rem;
            margin: 4.5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 50px;
            right: 0;
            background-color: #fff;
            padding: 20px;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 100;

            .details {
                border: 1px solid #ddd;
                border-radius: 6px;
                padding: 2rem;
                width: 100%;
                display: flex;
                gap: 1rem;
                align-items: center;

                img {
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                }

                .userInfo {

                    h4 {
                        font-weight: 600;
                    }

                    span {
                        font-weight: 400;
                        font-size: 1.4rem;
                        color: #888;
                    }
                }
            }

            button {
                padding: 1.5rem 3rem;
                background-color: #fff;
                color: #000;
                width: 100%;
                text-align: center;
                justify-content: center;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 1rem;
                border-radius: 4px;
                cursor: pointer;
                transition: .2s;
                border: 1px solid #ccc;

                &:hover {
                    opacity: .7;
                }

                svg {
                    font-size: 2rem;
                }


                &:last-child {
                    border: 1px solid green;
                    background-color: green;
                    color: #fff;
                }
            }
        }
    }
}