.slider {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
    -webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.75);
    position: relative;

    .galleryBtn {
        padding: 1rem 2rem;
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.7rem;
        border: 1px solid #333;
        transition: .2s;

        &:hover {
            opacity: .9;
        }

        svg {
            font-size: 1.8rem;
        }
    }

    .image {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        position: relative;
        cursor: pointer;
        transition: .2s;

        &:hover {
            opacity: .8;
        }

        &:nth-child(1) {
            height: 100%;
            grid-column: 1;
            grid-row: 1 / span 2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            object-fit: cover;
        }
    
        &:nth-child(2) {
            border-top-right-radius: 5px;
        }
    
        &:nth-child(3) {
            grid-column: 2;
            grid-row: 1;
        }
    
        &:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }
        
        &:nth-child(5) {
            grid-column: 3;
            grid-row: 2;
            border-bottom-right-radius: 5px;
        }
    }
}