.slotLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .slot {
        width: 100%;
        border-radius: 4px;
        display: flex;
        -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
        position: relative;

        .removeBtn {
            position: absolute;
            top: .8rem;
            right: .8rem;
            color: #444;
            cursor: pointer;
            transition: .2s;

            &:hover {
                opacity: .8;
            }
        }

        .image {
            width: 12rem;
            object-fit: cover;
            height: 10rem;
            border-radius: 5px;
        }

        .textLayout {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem;

            h4 {
                font-weight: 600;
                font-size: 1.6rem;
                color: #222;
            }

            p {
                font-weight: 400;
                font-size: 1.1rem;
                line-height: 1.4;
                color: #444;
            }
        }
    }
}