.nav {
    background-color: #fff;
    padding: 1rem 4.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 5px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px -8px rgba(0, 0, 0, 0.75);

    .navSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .leftSection {
            display: flex;
            align-items: center;
            gap: 4rem;
            width: 100%;

            .title {
                font-size: 24px;
                font-weight: bold;
                color: #111;

                span {
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    font-weight: bolder;
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                    color: #4CB501;
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                list-style: none;
                width: 100%;

                li a {
                    text-decoration: none;
                    color: #333;
                    font-size: 1.5rem;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }

        .rightSection {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            position: relative;

            .dropdownList {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                position: absolute;
                top: 6rem;
                border: 1px solid #ddd;
                border-radius: 1rem;
                list-style: none;
                padding: 0.7rem 0;
                max-width: 25rem;
                width: 100%;
                font-size: 1.3rem;
                -webkit-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                user-select: none;

                &.active {
                    max-height: 50rem;
                    visibility: visible;
                    opacity: 1;
                }

                &.loggedList,
                &.loggedOutList {
                    li {
                        a {
                            width: 100%;
                            text-decoration: none;
                            padding: 1rem 2rem;
                            display: block;
                            color: #111;
                            position: relative;

                            .notificationCount {
                                font-weight: 400;
                                color: #777;
                                font-size: 1.2rem;
                            }

                            .proTag {
                                position: absolute;
                                right: 1rem;
                                background-color: #000;
                                color: #fff;
                                font-weight: 600;
                                padding: .2rem 1.5rem;
                                top: 8px;
                                font-size: 1.2rem;
                                border-radius: 4px;
                                display: block;
                                -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
                                -moz-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
                                box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
                            }

                            &:hover {
                                background-color: #f6f6f6;
                            }
                        }
                    }
                }

                &.loggedList li {
                    &:nth-child(4) {
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                    }
                }

                &.loggedOutList li {
                    &:nth-child(1) {
                        font-weight: 600;
                    }

                    &:nth-child(2) {
                        border-bottom: 1px solid #ddd;
                    }
                }
            }

            .navList {
                display: flex;
                align-items: center;
                gap: 3rem;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    gap: 0.6rem;

                    .profileImage {
                        width: 3rem;
                        height: 3rem;
                        object-fit: cover;
                        user-select: none;
                        border-radius: 50%;
                        -webkit-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
                        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.75);
                    }

                    svg {
                        font-size: 2rem;
                    }

                    &.active {
                        -webkit-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                        box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                    }

                    &:last-child {
                        gap: 1.5rem;
                        border: 1px solid #ddd;
                        padding: 0.9rem 0.9rem 0.9rem 1.5rem;
                        border-radius: 3rem;
                        transition: .2s;

                        &:hover {
                            -webkit-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                            box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.75);
                        }

                        svg {
                            font-size: 2rem;

                            &:last-child {
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}