@import "../../../../styles/mixin.scss";

.section {
    border-top: 1px solid #f2f2f2;
    position: sticky;
    top: 7.1rem;
    left: 0;
    padding: 2rem 0;
    width: 100%;
    z-index: 8;
    transition: .4s;
    background-color: #fff;
    
    &.scrolled {
        -webkit-box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.75);
        padding: 0;

        .filterProvider {
            .filterProviderLayout {
                .categories {
                    .item {
                        font-size: 1.2rem;

                        svg {
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }

    .filterProvider {
        width: 100%;

        .filterProviderLayout {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;
            width: 100%;

            @include custom-responsive('1200px') {
                max-width: 100vw;
                overflow-y: hidden;
                overflow-x: scroll;
            }

            .categories {
                display: flex;
                align-items: center;
                gap: 3rem;
                position: relative;

                .arrow {
                    width: 3rem;
                    height: 3rem;
                    padding: .4rem;
                    border-radius: 50%;
                    border: 1px solid #ddd;
                    cursor: pointer;
                    background-color: #fff;
                    z-index: 1;
                    position: absolute;
    

                    &:first-child {
                        left: -1rem;
                        display: none;
                    }

                    &:last-child {
                        right: -3rem;

                        &::after {
                            content: '';
                            background-color: red;
                            width: 3rem;
                            height: 3rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    &:hover {
                        background-color: #fbfbfb;
                    }
                }

                .groupColor {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                }

                .item {
                    cursor: pointer;
                    padding: 1.5rem 0;
                    border: 1px solid #fff;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    transition: .2s;
                    user-select: none;
                    font-size: 1.3rem;
                    color: #6A6A6A;

                    svg {
                        font-size: 2.5rem;
                    }

                    &.active {
                        color: #000;
                    }

                    &:hover {
                        color: #000;
                    }
                }
            }

            .filters {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                max-width: 50rem;
                width: 100%;
                gap: 1rem;

                .btn {
                    padding: 1rem 3rem;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 7px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: .2s;
                    display: flex;
                    align-items: center;
                    transition: .2s;

                    &.toggled {
                        border: 1px solid #4caf50;
                        box-shadow: inset 0 0 10px rgba(76, 175, 80, 0.4);
                        color: #2c4f2f;
                    }
                    
                    svg {
                        font-size: 2rem;
                    }
                    
                    &:hover {
                        background-color: #fafafa;
                    }
                    
                    &:nth-child(1) {
                        gap: .5rem;
                        padding: 1.5rem 2.2rem;

                        input {
                            display: none;
                        }
                    }
                    
                    &:nth-child(2) {
                        gap: 1rem;
                        padding: 1.5rem 2.2rem;
                    }
                    
                    &:nth-child(3) {
                        padding: 1.5rem 2.2rem;
                        gap: .5rem;
                    }
                }
            }
        }
    }
}